body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

#main_content {
	margin: 40px;
}

h1 {
 	font-size: 30px;
 	margin-bottom: 40px;
}

.button_container {
	border: 1px solid #ddd;
	margin: 0 10px 10px 0;
	padding: 20px;
	width: 300px;
	height: 300px;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
	text-align: center;
}


a#btn_spotify {
	display: inline-block;
	height: 50px;
	box-sizing: border-box;
	border-radius: 25px;
	margin: auto;
	margin-top: 100px;
	padding: 10px 40px 0 40px;
	background-color: #2ebd59;
	border: 2px solid #2ebd59;
	color: #fff;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-decoration: none;
}

a#btn_spotify:hover {
	background-color: #fff;
	border: 2px solid #000;
	color: #000;
}

a#btn_twitter {
	display: inline-block;
	height: 40px;
	box-sizing: border-box;
	border-radius: 4px;
	margin: auto;
	margin-top: 105px;
	padding: 10px 30px 0 30px;
	background-color: #56cdf1;
	color: #fff;
	font-size: 18px;
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	text-decoration: none;
}

a#btn_twitter:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2ebfec+0,28a5cb+100 */
	background: #2ebfec; /* Old browsers */
	background: -moz-linear-gradient(top,  #2ebfec 0%, #28a5cb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2ebfec), color-stop(100%,#28a5cb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2ebfec 0%,#28a5cb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2ebfec 0%,#28a5cb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2ebfec 0%,#28a5cb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2ebfec 0%,#28a5cb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ebfec', endColorstr='#28a5cb',GradientType=0 ); /* IE6-9 */
}


a#btn_amazon {
	display: block;
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	border-radius: 50px;
	margin: auto;
	margin-top: 75px;
	padding-top: 8px;
	background-color: #232f3e;
	color: #fff;
	text-align: center;
	font-size: 60px;
}

a#btn_amazon:hover {
	background-color: #fc9a18;
}


a#btn_indiegogo {
	display: inline-block;
	margin:auto;
	margin-top: 100px;
	padding: 8px 16px;
	background-color: #fff;
	color: #eb1478;
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: -2px;
}

a#btn_indiegogo:hover {
	color: #fff;
	background-color: #eb1478;
}

a#btn_apple {
	display: inline-block;
	height: 110px;
	width: 110px;
	box-sizing: border-box;
	border-radius: 2px;
	margin: auto;
	margin-top: 75px;
	padding: 10px 30px 0 30px;
	background-color: white;
	color: black;
	text-align: center;
	font-size: 60px;
}

a#btn_apple:hover {
	color: white;
	/*background-color: gray;*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(173,97,97,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
}

a#btn_coke {
	display: block;
	height: 120px;
	width: 120px;
	box-sizing: border-box;
	border-radius: 60px;
	margin: auto;
	margin-top: 65px;
	padding-top: 40px;
	font-family: 'Pacifico', cursive;
	font-size: 20px;
	color: white;
	background-color: red;
	text-align: center;
	text-decoration: none; 
}

a#btn_coke:hover {
	background-color: #fff;
	border: 1px solid red;
	color: red;
}

a#btn_youtube {
	display: inline-block;
	margin: auto;
	margin-top: 80px;
	padding: 10px 15px 20px 15px;
	height: 60px;
	width: 60px;
	-moz-transition-timing-function: ease;
	-webkit-transition-timing-function: ease;
	transition: width 2s;
	text-align: center;
	text-decoration: none;
	font-size: 50px;
	background-color: white;
	border: 1px solid gray;
	color: black;
}

a#btn_youtube:hover {
	 width: 120px;
	 color: red;
}

a#btn_bissingers {
	display: inline-block;
	margin: auto;
	margin-top: 80px;
	text-align: center;
	text-decoration: none;
}

a#btn_bissingers:hover {
	-webkit-box-shadow: 1px 10px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 1px 10px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 1px 10px 5px 0px rgba(50, 50, 50, 0.75);
}

a#btn_explodingkittens {
	display: inline-block;
	margin: auto;
	margin-top: 75px;
	text-align: center;
}

a#btn_explodingkittens:hover {
	-webkit-box-shadow: 0px -8px 10px 0px rgba(215, 100, 0, 0.75);
	-moz-box-shadow: 0px -8px 10px 0px rgba(215, 100, 0, 0.75);
	box-shadow: 0px -8px 10px 0px rgba(215, 100, 0, 0.75);
}

a#btn_moo {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: auto;
	margin-top: 80px;
	background-image: url(https://images.g2crowd.com/uploads/product/hd_favicon/1487565753/moo.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	text-indent: -500px;
}

a#btn_moo:hover {
	text-indent: 300px;
	transition: 3s;
}

a#btn_ofa {
	display: inline-block;
	height: 70px;
	width: 150px;
	box-sizing: border-box;
	border-radius: 1px;
	margin: auto;
	margin-top: 90px;
	padding-top: 12px;
	background-color: DeepSkyBlue;
	color: white;
	text-align: center;
	font-family: 'Paytone One', sans-serif;
	font-size: 30px;
	text-decoration: none;
}

a#btn_ofa:hover {
	background-color: white;
	color: DimGray;
	margin-top: 80px;
	font-size: 50px;
}

a#btn_pottermore {
	display: inline-block;
	margin: auto;
	margin-top: 90px;
	background-image: url(https://vignette1.wikia.nocookie.net/harrypotter/images/d/d8/Pottermore2.png/revision/latest?cb=20150923181540);
	background-size: 150px;
}

a#btn_pottermore:hover {
	transform: rotateY(180deg);
	transition: 3s;
}
