html {
	font-family: sans-serif;
	background-color: #a0d3db;
}
em {
	color: #991854;
}
strong {
	font-family: sans-serif;
}
#movie-title {
	font-size: 36px;
	color: #700c49;
}
#movie-subtitle {
	font-size: 24px;
	color: #991854;
}
.script {
	font-family: monospace;
}
.source {
	font-size: 12px;
}