html {
	font-family: garamond;
	background-color: #b1d8d1;
}
strong {
	font-family: georgia;
	font-size: 14px;
	color: #463f63;
}

#song-title {
	font-family: georgia;
	font-size: 20px;
	color: #291b4c;
}
#Artist {
	font-family: georgia;
	font-size: 16px;
	color: #291b4c;
}
#chorus-ref {
	font-style: bold;
	font-size: 14px;
	color: #bc4720;
}

.verse {
	font-size: 12px;
	color: #8e5019;
}
.chorus {
	font-size: 12px;
	color: #bc4720;
}